.DS_Store
# backend
/backend/.env*

/backend/node_modules
/backend/dist
/backend/bbackendld

/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

/backend/.DS_Store

/backend/coverage
/backend/.nyc_output

/backend/.temp
/backend/.tmp

/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock

/backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ui
/ui/node_modules
/ui/.pnp
/ui.pnp.js
/ui.yarn/install-state.gz

/ui/coverage

/ui/.next/
/ui/out/

/ui/build

/ui/.DS_Store
/ui/*.pem

/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*

/ui/.env*

/ui/.vercel

/ui/*.tsbuildinfo
/ui/next-env.d.ts


